@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    height: 150vh;
}

* {
    box-sizing: border-box;
    margin: 0;
}

h1 {
    color: red;
    font-size: 24px;
    background-color: rgba(0, 255, 255, 0.3);
}

.first-div {
    width: 90vw;
    max-width: 400px;
    /* height: 15vh; */
    background-color: red;
    color: blueviolet;

    font-size: 23px;
    font-weight: 500;
    font-family: Inter, sans-serif;

    border: 4px solid green;
}

.box {
    width: 200px;
    border: 3px solid red;
    padding: 20px 5px 40px 15px;
    margin: 8px 10px 20px 50px;
}

.rel-title {
    background-color: blue;
    position: relative;
    top: 10vw;
    left: 5vw;
}

.abs-title {
    background-color: orange;
    position: absolute;
    bottom: 0;
    left: -85vw;
}

.parent {
    height: 200px;
    background-color: red;
    position: relative;
}

.child {
    width: 64px;
    height: 64px;
    background-color: green;
    position: absolute;
    bottom: 0;
    right: 0;
}

.fix-title {
    position: fixed;
    top: 0;
    right: 0vw;
    background-color: greenyellow;
}

.sticky-title {
    position: sticky;
    top: 30vh;
    right: 0vw;
    background-color: greenyellow;
}

.med-title {
    font-size: 52px;
}

.med-paragraph {
    font-size: 24px;
}

@media (max-width: 640px) {
    .med-title {
        font-size: 36px;
    }

    .med-paragraph {
        font-size: 24px;
    }
}

@media (max-width: 540px) {
    .med-title {
        font-size: 32px;
    }

    .med-paragraph {
        font-size: 20px;
    }
}
@media (max-width: 356px) {
    .med-title {
        font-size: 28px;
    }

    .med-paragraph {
        font-size: 18px;
    }
}

.ps-button {
    transition: background-color 500ms;
}

.ps-button:hover {
    opacity: 30%;
    background-color: red;
    padding: 6px;
}

.ps-p::before {
    content: "Hey my name is ";
    background-color: blue;
    margin-right: 4px;
}

.ps-p::after {
    content: ". Nice to meet you";
    background-color: aqua;
    margin-left: 4px;
}

.an-p {
    animation: point-down 1000ms infinite alternate-reverse;
}

@keyframes point-down {
    0% {
        transform: translateY(0)
    }

    100% {
        transform: translateY(16px)
    }
}