.buttons {
    /* align-items: end; */
    text-align: end;
    border: 1px solid black;
    font-family: sans-serif;
    margin: 10px;
    padding: 10px;
}

.search-bar {
    align-items: center;
    align-content: center;
    align-self: center;
    text-align: right;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    border: solid 1px blue;
    margin: 10px;
    padding: 10px
}

body {
    text-align: center;
}