body {
    text-align: center;
}

.buttons {
    text-align: end;
    font-family: sans-serif;
    margin: 10px;
    padding: 10px;
}

.search-bar {
    border: solid 1px blue;
    margin: 10px;
    padding: 10px
}

.searching {
    text-align: center;
}

input[value="Google Search"] {
    align-self: bottom;
}

.buttons > h1 {
    margin: 20px;
    text-align: left;
    color: red;
}

.advanced {
    text-align: start;
    font-family: sans-serif;
}

.buttons a {
    margin: 10px;
}

/* form > input {
    text-align: end;
} */
