body {
    text-align: center;
}

.buttons {
    text-align: end;
    font-family: sans-serif;
    margin: 10px;
    height: 60px;
}

.search-bar {
    border: solid 1px blue;
    border-radius: 24px;
    margin: 10px;
    padding: 10px
}

.searching {
    text-align: center;
    height: 142px;
    max-width: 584px;
}

input[value="Google Search"] {
    align-self: bottom;
}

.buttons > p {
    margin: 20px;
    text-align: left;
    color: red;
}

.advanced {
    text-align: start;
    font-family: sans-serif;
}

.buttons a {
    margin: 10px;
    text-decoration: none;
    color: black;
}

.Google_Image {
    width: 805;
    height: 125;
}

