%centered_flex {
    display: flex;
    justify-self: center;
    flex-wrap: wrap;
}

%text-size-font {
    font-size: 13px;
    font-family: arial, sans-serif;
}

%no-decoration {
    text-decoration: none;
    color: black;
}

body {
    height: 957px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
}

.top-buttons {
    @extend %centered_flex;
    height: 48px;
    padding: 6px;
    justify-content: end;
    flex-direction: row;
}

.btn {
    @extend %centered_flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
}

.top-buttons a {
    @extend %centered_flex;
    @extend %text-size-font;
    @extend %no-decoration;
    height: 24px;
    flex-direction: column;
    justify-content: center;
}

.logo-container {
    @extend %centered_flex;
    align-items: center;
    flex-direction: column;
    height: 290px;
}

.centered-form {
    @extend %centered_flex;
    width: 584px;
    height: 142px;
    // margin: 10px;
    flex-direction: column;
}

.centered-form .submit-buttons div {
    @extend %centered_flex;
    padding-top: 20px
}

.submit-buttons {
    @extend %centered_flex;
    width: 584px;
    height: 70px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 18px;
    flex-direction: row;
    justify-content: center;
}

.submit-buttons input {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.centered-form .search-bar input {
    width: 568px;
    height: 46px;
    background-color: transparent;
    padding-left: 9px;
    padding-right: 9px;
    border: inherit;
    box-shadow: inherit;
    border-radius: 24px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.google-icon {
    margin-top: 198px;
}

.top-buttons-box {
    @extend %centered_flex;
    justify-content: center;
    flex-direction: row;
    align-content: center;
    margin-right: 10px;
}

.form-part {
    @extend %centered_flex;
    flex-direction: column;
    align-items: center;
    height: 120px;
    padding: 20px;
}

.centered-form form {
    height: 136px;
    padding-top: 6px;
}

.search-bar {
    @extend %centered_flex;
    padding-top: 0px;
    height: 46px;
    border: none;
    box-shadow: 0px 2px 8px 0px rgba(60, 64, 67, 0.25);
    border-radius: 24px;
    margin: 0 auto;
    width: auto;
    max-width: 584px;
}

.search-bar input {
    outline: none;
}

// Advanced

.logo-header-container {
    align-self: center;
    margin-right: auto;
    margin-left: 14px;
}

.head-sentence {
    height: "22.5px";
}

.advanced-sentence {
    @extend %text-size-font;
    color: #d93025;
    font-size: 20px;
    margin-left: 45px;
}

#top-buttons-advanced {
    padding: 8px;
}

.line {
    border-bottom: 1px solid #ebebeb;
    height: 0;
}

.advanced-form-main-ul {
    list-style-type: none;
    padding: 0;
}

.advanced-form {
    @extend %centered_flex;
    @extend %text-size-font;
    flex-direction: column;
    align-self: start;
    margin: 25px;
    width: 100%;
}

.row-advanced {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.row-advanced label {
    width: 212px;
}

.row-advanced input {
    width: 50%;
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    padding: 1px 8px;
    height: 25px;
}

.advanced-form-sentence {
    font-size: 16px;
}

ul li {
    height: 42px;
}

.submit-button-advanced {
    @extend %centered_flex;
    flex-direction: row;
    justify-content: end;
    width: 462px;
    height: 30px;
    text-align: center;
}

.submit-button-advanced input {
    background-color: #4d90fe;
    border: 1px solid #3079ed;
    color: #fff;
    width: 120px;
    font-size: 11px;
    font-weight: bold;
}

.advanced-form input {
    outline: blue;
}